target
out
.gradle
*.MF
*.class

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea
.rup/
=======

# eclipse project file
.pmd
.ruleset
.settings
.classpath
.project
build
bin
test-output
.springBeans
